$color-primary: #2AA0E8;
$color-bg: #dbe6f1;
$color-body: #ECEEF3;
$font-family: Arial;
$min-width: 900px;

$min-width: 900px;

// main color
$high-light:#2AA0E8;
$bg-content-color:#FFF;
$color-body: #ECEEF3;

// second color
$left-nav-color:#005892;
$list-header-color:rgba($color: #2AA0E8, $alpha: 0.08);
$list-color:#F8F8F8;

//font color
$font-first-color:#333;
$font-second-color:#666;
$font-weakTip-color:#999;
$font-link-color:#2AA0E8;
$font-nav-color:#9DC7E1;
$font-selected-nav-color:#fff;
$font-important-color:#E70000;
$font-unfinished-color:#FE9137;

// button
$color-primary: #2AA0E8;

// font-family
$font-family: PingFang TC;

// border
$border-color:#e0e0e0;

